*{
  margin: 0;
  padding: 0;
}

/* parte header */
.centratura{
  padding: 0 10%;
}

header{
  height: 450px;
  background-color: rgb(65, 105, 225);
  background-image: url("../img/fluentify-jumbo.png");
  background-position: right bottom;
  background-size: 45%;
  background-repeat: no-repeat;

}

.navigation{
  padding-top: 30px;
  padding-left: 185px;
}

.logo{
  padding-top: 35px;
  float: left;
}


.menu li{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-right: 40px;
  display: inline-block;
}

.menu a{
  color: white;
  text-decoration: none;
}

.button1{
  background-color: rgb(65, 105, 225);
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2{
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.spazio{
  margin-left: 100px;
}


.scritta{
  float: left;
  padding-top: 100px;
}


.scritta p{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.scritta .button2{
  margin-top: 30px;
}

.sottoheader{
  position: relative;
  height: 200px;
  background-color: lightgray;
  margin-bottom: 50px;
}

.titoli{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: black;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titoli h3{
  color: gray;
  margin-top: 20px;
}



/* parte principale */

/* contenitore1 */
.contenitore::after{
  content: "";
  display: table;
  clear: both;
}

.contenitore{
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 2px;
}
/* sx */

.partesx{
  margin-bottom: 50px;
  float: left;
  width: 30%;
}

.sx1{
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: gray;
}

.contenitore p{
  font-size: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: gray;
}

.contenitore .img{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.contenitore h2{
  padding-top: 50px;
  text-align: center;
  color: #4CAF50;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}




/* mid */

.partemid{
  float: left;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

.mid1{
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: gray;
}

/* dx */

.partedx{
  float: right;
  width: 30%;
}

.dx1{
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: gray;
}

/* contenitore2 */

.sezione2sx{
  float: left;
  width: 45%;
  margin-right: 5%;
  /* debug */
  height: 600px;
  }

.sx2 img{
  width: 500px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sezione2dx{
  float: right;
  width: 45%;
  /* debug */
  height: 300px;
}

.sezione2dx h2{
  margin-top: 20px;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

.sezione2dx p{
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: gray;
}
